/* Dans votre fichier ascension.css */

.content {
    display: flex;
    justify-content: space-between;
}

.left-column {
    position: relative;
    background-image: url(../images/fond-home.png);
    flex: 0.5; /* Ajustez la largeur de la colonne de gauche */
}

.status-image {
    width: 49.1%; /* Ajustez la largeur selon vos besoins */
    margin-top: 130px;
    margin-left: 280px;
}

.constellation-image {
    position: absolute;
    left: -40px;
    width: 90%; /* Ajustez la largeur selon vos besoins */
}

.right-column {
    background: #5A8F64;
    flex: 1;
    text-align: left;
}

.logo-image {
    width: 330px;
    margin-left: 450px;
    margin-top: 40px;
}

.logo-jeux {
    width: 230px;
    margin-left: 535px;
    margin-bottom: 40px;
}


h1 {
    margin-left: 20px;
    margin-top: 20px; /* Ajustez la marge supérieure du titre */
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

p {
    margin-left: 20px;
    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.roster {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.roster h2,
.roster h3 {
    font-weight: bold;
    margin-right: 10px;
}

.roster h3 {
    clear: both;
}

.roster-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.roster img {
    width: 90px;
    vertical-align: middle;
}

.joueurs {
    width: 90px;
}

.joueurs-realzz {
    width: 60px;
}

.joueurs-smokey {
    width: 88px;
}





#player-pp-speudo img {
    width: 400px;
}

#player-pp img {
    width: 160px;
}

/* Styles for player-details layout */
.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-left {
    display: flex;
    align-items: center;
}

.details-right {
    text-align: right;
}

.details-right-inner {
    text-align: left;
    margin-left: 200px;
}
