body {
    background-image: url(../images/fond-home.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.center-container {
    text-align: center;
}

h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 128px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

h2 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 200px;
    font-weight: 800;
    line-height: normal;
    font-weight: bold;
    margin: 0;
}

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 100px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 72px;
    }
}

/* BUTTON */

button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  button a {
    text-decoration: none;
    color: #e1e1e1;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }