@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    background-image: url(../images/fond-home.png);
    color: rgba(152, 148, 148, 1);
}

.card {
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-bottom {
    width: 100%;
    height: auto;
}
