{# templates/contact/confirmation.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Thank You!</h1>
    <p>Your contact form has been submitted successfully.</p>
    <a href="{{ path('home') }}"> Home </a>
{% endblock %}
