{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}


{% block body %}

    {% include 'navbar.html.twig' %}

<h1>
toto
</h1>

{% endblock %}
