{% extends 'base.html.twig' %}

{% block title %}Edit Email{% endblock %}

{% block body %}
    <h1>Edit Email</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}