{% extends 'base.html.twig' %}

{% block title %}Ton espace{% endblock %}

{% block body %}
    <div>
        <p>Email : {{ user.email }}</p>
        <p>Pseudo : {{ user.pseudo }}</p>
    </div>
{% endblock %}